/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
    content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*colours are #c78c06 #ffe6ac #222and white*/

*{
	font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 1px) and (max-width: 760px){



/* the logo and its black border */
.logo{ 
	background-color: #c78c06;
	border: 15px solid #222;
	border-bottom: 300px solid #222;	
}

/* the list items */
.logo nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
}

/* welcome background img */
.welcome img{
max-width: 100%;
}

/* welcome to three star media */
h1 {
	font-size: 50px;
	background-color: rgba(2, 2, 2, 0.5);
	color: white;
	position: absolute;
	right: 100px;
	top: 550px;
	margin-left: 100px;
}

/* the lorem under welcome three star media */
.welcome p{
	background-color: rgba(2, 2, 2, 0.5);
	color: white;
	position: absolute;
	top:700px;
	margin-left: 10px;
	margin-right: 10px;
}

/* the connect with us */
.welcome h4{
	background-color:#c78c06;
	color: black;
	position: absolute;
	top: 800px;
	border: 15px solid #c78c06;
	margin: 10px;
}

/* about us img */
.about img{
	max-width: 95%;
	margin: 15px;
	}

/* the about background */
.about{
	background-color: #ffe6ac;
	
}

/* the about tital */
.about h2{
	font-size: 50px;
	margin: 10px;

}
/* the abouts text */
.about p{
	margin: 10px;
	padding: 10px;
}

/* our services text */
.services{
	font-size: 40px;
}

/* digital transformation img */
.digital img{
	max-width: 100%;

}
/* the background colour */
.digital{
	background-color: #ffe6ac;
	background-size: 100%;
}
/* digital transformation text */
.digital h3{
	font-size: 30px;
	margin: 10px;
}

.digital p{
	margin: 10px;
}
/* text in black background */
.digital h4{
	background-color: #222;
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:15px solid #222;
}

/* marketing img */
.marketing img{
	max-width: 100%;
	margin-top: 10px;
}
/* the background colour */
.marketing{
	background-color: #ffe6ac;
	background-size: 100%;
	margin-top: 10px;
}
/* marketing text */
.marketing h3{
	font-size: 30px;
	margin: 10px;
}

.marketing p{
	margin: 10px;
}
/* text in black background */
.marketing h4{
	background-color: #222;
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:15px solid #222;
}

/* video img */
.video img{
	max-width: 100%;
	margin-top: 10px;
}
/* the background colour */
.video{
	background-color: #ffe6ac;
	background-size: 100%;
	margin-top: 10px;
}
/* video production text */
.video h3{
	font-size: 30px;
	margin: 10px;
}

.video p{
	margin: 10px;
}
/* text in black background */
.video h4{
	background-color: #222;
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:15px solid #222;
}

/* web img */
.web-dev img{
	max-width: 100%;
	margin-top: 10px;
}
/* the background colour */
.web-dev{
	background-color: #ffe6ac;
	background-size: 100%;
	margin-top: 10px;
}
/* web development text */
.web-dev h3{
	font-size: 30px;
	margin: 10px;
}

.web-dev p{
	margin: 10px;
}
/* text in black background */
.web-dev h4{
	background-color: #222;
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:15px solid #222;
}

/* video img */
.print img{
	max-width: 100%;
	margin-top: 10px;
}
/* the background colour */
.print{
	background-color: #ffe6ac;
	background-size: 100%;
	margin-top: 10px;
}
/* video production text */
.print h3{
	font-size: 30px;
	margin: 10px;
}

.print p{
	margin: 10px;
}
/* text in black background */
.print h4{
	background-color: #222;
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:15px solid #222;
}
/* vision section */
.vision{
	margin-top:20px;
}

.vision p{
	grid-column: 2;
	margin: 10px;
}
/* our vision */
.vision h3{
	grid-column: 2;
	font-size: 30px;
	margin: 10px;
}
/* learn more */
.vision h4{
	grid-column: 2;
	background-color: rgba(2, 2, 2, 0.5);
	color: white;
	margin-left: 10px;
	display: inline-block;
	border:2px solid #c78c06;
}

.vision img{
	width: 100%;
}

/* our team text */
.team h2{
	font-size: 30px;
	margin: 10px;
}

/* johns section */
.john{
	background-color: #ffe6ac;
	margin: 10px;
}

.john h3{
	font-size: 30px;
	margin: 10px;
}

.john h4{
	font-size: large;
	text-decoration: underline solid #c78c06;
	display: block;
	margin: 10px;
}

.john p{
	margin: 10px;
}
/* bobs background  */
.bob{
	background-color: #ffe6ac;
	margin: 10px;
}

.bob h3{
	font-size: 30px;
	margin: 10px;
}

.bob h4{
	font-size: large;
	text-decoration: underline solid #c78c06;
	display: block;
	margin: 10px;
}

.bob p{
	margin: 10px;
}

/* contact section */
.contact h2{
	font-size: 40px;
	margin: 10px;
}

.contact h3{
	font-size: 30px;
}

.contact{
	margin: 30px;
}

.contact p{
	margin: 30px;
	display: inline-block;
	background-color: #222;
	border:5px solid #222;
	color: #c78c06;
}

/* hours and  */
.hours h3{
	margin: 10px;
	font-size: 30px;
}

.hours ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 15px;
	gap: 0px;
	border:1px solid #222;
	grid-template-areas: 
	"l1 l2"
	"l3 l5"
	"l4 l6";
}

.hours li:nth-child(1){
	grid-area: l1;
	background-color: #ffe6ac;
	border:1px solid #222;
}
.hours li:nth-child(2){
	grid-area: l2;
	background-color: #ffe6ac;
	border:1px solid #222;
}
.hours li:nth-child(3){
	grid-area: l3;
	border:1px solid #222;
}
.hours li:nth-child(4){
	grid-area: l4;
	border:1px solid #222;
}
.hours li:nth-child(5){
	grid-area: l5;
	border:1px solid #222;
}
.hours li:nth-child(6){
	grid-area: l6;
	border:1px solid #222;
}



/* map tital */
.location h3{
	font-size: 30px;
}

/* footer with the copyright */
footer{
	background-color: #222;
	border:40px solid #222;
}
footer p{
	color: #c78c06;
}

}




@media screen and (min-width: 761px) and (max-width: 1200px){

	.logo nav{ 
		background-color: #222;
		border: 40px solid #222;
	}















	.bob{
		background-color: #ffe6ac;
		margin: 10px;
	}
	
	.bob h3{
		font-size: 30px;
		margin: 10px;
	}
	
	.bob h4{
		font-size: large;
		text-decoration: underline solid #c78c06;
		display: block;
		margin: 10px;
	}



.contact h2{
	font-size: 40px;
	margin: 10px;
}

.contact h3{
	font-size: 30px;
}

.contact{
	margin: 30px;
}

.contact p{
	margin: 30px;
	display: inline-block;
	background-color: #222;
	border:5px solid #222;
	color: #c78c06;
}
	

	.location h3{
		font-size: 30px;
	}



	.hours h3{
		margin: 10px;
		font-size: 30px;
	}
	
	.hours ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 15px;
		gap: 0px;
		border:1px solid #222;
		grid-template-areas: 
		"l1 l2"
		"l3 l5"
		"l4 l6";
	}
	
	.hours li:nth-child(1){
		grid-area: l1;
		background-color: #ffe6ac;
		border:1px solid #222;
	}
	.hours li:nth-child(2){
		grid-area: l2;
		background-color: #ffe6ac;
		border:1px solid #222;
	}
	.hours li:nth-child(3){
		grid-area: l3;
		border:1px solid #222;
	}
	.hours li:nth-child(4){
		grid-area: l4;
		border:1px solid #222;
	}
	.hours li:nth-child(5){
		grid-area: l5;
		border:1px solid #222;
	}
	.hours li:nth-child(6){
		grid-area: l6;
		border:1px solid #222;
	}



	footer{
		background-color: #222;
		border:40px solid #222;
	}
	footer p{
		color: #c78c06;
	}


}